{% load crispy_forms_tags %}
{% include "base/index.html" %}
{% block estilo %}
{% endblock %}
{% include "base/navCambiar.html" %}
{% block content %}
  <main class="container">
    {% include "base/cartel.html" %}
    <div class="row justify-content-center align-items-center">
      <div class="col-auto  ">
        {% if user.gris_disponible == True %}
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <p style="color:red">{{catch}}</p>
            <input type="submit" value="Transferir" class="mt-2 w-100 btn btn-primary">
        </form>
        <br>
        <div >
        <h3 class="text-center">Recuerda: </h3>
        <hr>
        <p style="color:blue"><strong>Azul</strong></p><p>Para miembros de tu equipo</p>
        <p style="color:orange"><strong>Naranja</strong></p><p>Para miembros de otros equipos</p>
        </div>  
        {% else %}
          <div class="alert alert-danger" role="alert">
            Ya intercambiaste tu sombrero semanal
          </div>
        {% endif %}
      </div>
    </div>  
  <main class="container">
{% endblock %}